.filterContent {
    position: sticky;
    top: 0px;
}

.titleFilters{
    padding-top: 25px;
}

.nameFilters{
    display: flex;
    justify-content: center !important;
    padding-bottom: 50px;
    padding-top: 25px;
    font-size: 45px;
    font-weight: bold;
}

@media (max-width: 990) {
    .filterZone {
       display: none !important;
    }
}