.colCard{
    display: flex;
    flex-grow: 0 !important;
    padding-top: 25px;
}

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

@media (max-width: 2507px) {
    .cards {
        justify-content: center;
    }
}

.card-body{
    display: flex;
    align-items: center;
}


.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}